export GOLANGCI_LINT_VERSION=v1.62.0
export PORT=4000
export ENV=development
export PRODUCTION_HOST_IP=1.2.3.4
export JWT_SECRET=meewuZ8Hei2theefaiK9ahphie5oiDai1eiX6ehaeveeThae1oocha2sooMeeguog
export DB_DSN=postgres://user:password@220.45.0.5:5432/pulse_finder?sslmode=disable
export NATS_URL=nats://220.45.0.7:4222
