export GOLANGCI_LINT_VERSION=v1.62.0
export PORT=4000
export ENV=development
export PRODUCTION_HOST_IP=1.2.3.4
export JWT_SECRET=meewuZ8Hei2theefaiK9ahphie5oiDai1eiX6ehaeveeThae1oocha2sooMeeguog
export DB_DSN=postgres://user_test:pass_test@localhost:5432/pulse_finder_test?sslmode=disable
export NATS_URL=nats://localhost:4222
